.restaurants{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    flex-direction: column;
    color:white;

 margin-top: 10vh;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80vw;
    flex-wrap: wrap;
}

.restaurant{   
    font-family: 'Staatliches', cursive;
    display: flex;
    width: 80vw;
    justify-content: flex-start;
    flex-direction: column;
    height: 15vh;
    
    
}
.restaurant>h1{
    font-size: 3vw;
    letter-spacing: .2vw;

}

.HIGH{
    color: orangered;
    text-decoration-line: underline;
    font-size: 3vw;

}

.cardd{
    width: 30vh;
    height: 30vh;
}
.media{
    width: 30vw;
    height: 30vh;
}



@media only screen and (max-width: 700px) {
    .restaurant>h1 {
        font-size: 7vw;
        letter-spacing: .2vw;
    }
    .HIGH {
        color: orangered;
        text-decoration-line: underline;
        font-size: 7vw;
    }
  }
