@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.header{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 85vw;
    background-color:rgb(255, 255, 255);
    height: 10vh;
    border-radius: 0px 0px 1.5vw 1.5vw;
    color: #1f1e1e;
    font-family: 'Nunito', sans-serif;
    box-shadow: 1px 2px 5px rgb(255, 115, 0);


     
}
.header>h1{
    color:rgb(255, 115, 0);
    font-weight: bold;
}
.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}
.list>li{
    list-style: none;
    padding: 0px 2vw;
    transition: .5s;
    transform: translateX(0vw);
    font-weight: bold;
    
}

.avatar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.avatar>p{
    padding-left: .5vw;
    font-weight: bold;
    color: rgb(31, 30, 30);

}

.list>li:hover{
    transform: translateX(1vw);
    color:rgb(255, 102, 0);
    text-decoration: wavy;
    transition: .5s;
}

.list>li>a{
text-decoration: none;
color:black
}

.list>li>a:hover{
    color:rgb(255, 102, 0);
    
}

.link{
    text-decoration: none;

}
.link:hover{
    color:rgb(255, 102, 0);
    
    
    
}
.link>li{
    color: rgb(15, 15, 15);
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.buttonn{
    cursor: pointer;
    background-color: red;
    border-radius: 1vw;
    padding: 1vh 2vh;
    font-size: 1.5vh;
    color:white;
}

.cardprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:10vh;
    right: 6vw;
    background: rgb(235,81,15);
    background: linear-gradient(90deg, rgba(235, 81, 15, 0.849) 0%, rgba(3, 95, 223, 0.836) 0%, rgba(255, 0, 0, 0.74) 100%);
    height: 35vh;
    width: 35vh;
    z-index: 10;
    flex-direction: column;
    border-radius: 1vw;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgb(0, 0, 0), -8px -8px 10px rgb(0, 0, 0);

}

.Profilee{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-bottom: 1px solid orange;
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}
.location>h4{
    background-color: black;
    margin: 10px 20px;
    padding: 5px 10px;
    border-radius: 1vw ;
    transition: .7s;
    cursor: pointer;
}
.location>h4:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: .7s;

}




/* 
} */
@media only screen and (max-width: 870px) {
    .list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* flex-direction: row; */
        position: absolute;
        font-size: 1vh;
        top: 10vh;
        background-color: orangered;
        width: 80vw;
        border-radius: 1vw;
        color: white;
        z-index: 1000;
        display: none;
    }

    .header>h1 {
        color: rgb(255, 94, 0);
        font-weight: bold;
        font-size: 4vh;
    }
    .avatar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 85vw;
        background-color: rgb(255, 255, 255);
        height: 10vh;
        border-radius: 0px 0px 1.5vw 1.5vw;
        color: #1f1e1e;
        font-family: 'Nunito', sans-serif;
        box-shadow: 1px 2px 5px rgb(255 115 0);
    }
    .buttonn{
        cursor: pointer;
        background-color: red;
        border-radius: 1vw;
        padding: 1vh 2vh;
        font-size: 2vh;
        color:white;
        border-radius: 3vh;
    }
    .list>li>a {
        text-decoration: none;
        color: white;
        font-size: 3vw;
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list>li {
            list-style: none;
            padding: 0px 2vw;
            transition: .5s;
            transform: translateX(0vw);
            /* font-weight: bold; */
            width: 70vw;
            /* margin: 0 auto; */
            display: flex;
            justify-content: center;
            padding: 4vw 1vw;
            border-radius: 3vw;
            margin:2vh 0vh;
        
        
    }
    .list>li:hover {
        transform: translateX(1vw);
        color: rgb(255, 102, 0);
        text-decoration: wavy;
        transition: .5s;
        background-color: black;
    }
    
    
        
  }