@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    color:white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 5vh;
    width: 70vw;
}

.abtt>h4{
    color: rgb(255, 81, 0);
    font-weight: bold;
    font-size: 2vw;
}
.abt>h1{

    font-size: 3vw;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 40vh;
    padding: 20px;
    background-color: rgb(255, 81, 0);
    border-bottom-left-radius: 5vw;
    border-top-right-radius: 5vw;
    transition: .5s;
    overflow: hidden;
}
.Details{
   width:15vw;
}
.cards:hover{
    width: 22vw;
    height: 40vh;
    transition: .5s;
    background-color: red;
    cursor: pointer;
}


@media only screen and (max-width: 700px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 97vw;
        /* height: 44vh; */
        color: white;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: 10vh;
    }
    .abtt>h1 {
        font-size: 3vw;
    }


    .abtt{
        height: 39vw;
        width: 50vw;
    }


    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60vw;
        height: 60vw;
        margin-bottom: 2vh;
        padding: 20px;
        background-color: rgb(255, 81, 0);
        border-bottom-left-radius: 10vw;
        border-top-right-radius: 10vw;
        transition: .5s;
        overflow: hidden;
        font-size: 1.2vh;
    }
    .cards:hover{
        width: 63vw;
        height: 60vw;
        transition: .5s;
        background-color: red;
        cursor: pointer;
    }
    .abtt>h4 {
        color: rgb(255, 81, 0);
        font-weight: bold;
        font-size: 5vw;
    }
    .services {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-top: 5vh;
        width: 89vw;
    }
    .Details {
        width: 50vw;
    }
  }
